# Python Tutorial

## 1. Data types and its operations

__Number__

In [2]:
a=3
b=4
print('a+b:',a+b)#Addition
print('a-b:',a-b)#Subtraction
print('a*b:',a*b)#Multiplication
print('a**b:',a**b)#Multiplier
print('a/b:',a/b)#Division
print('a//b:',a//b)#Quotient
print('a%b:',a%b)#Remainder

a+b: 7
a-b: -1
a*b: 12
a**b: 81
a/b: 0.75
a//b: 0
a%b: 3

__String__

In [3]:
head = "Python"
tail = " is fun!"
s=head + tail
print('s: ',s)
print('head + tail: ', head + tail)
print('head*3: ',head*3)
print('Length of s: ',len(s))

s:  Python is fun!
head + tail:  Python is fun!
head*3:  PythonPythonPython
Length of s:  14

String indexing

In [4]:
a = "Life is too short, You need Python"

Python counts numbers from zero.<br/>
a[0]:'L', a[1]:'i', a[2]:'f', a[3]:'e', a[4]:' ', ...

In [5]:
print('a[0]: ' ,a[0])
print('a[5]: ' ,a[5])
print('a[-1]: ' ,a[-1])
print('a[-3]: ' ,a[-3])

a[0]:  L
a[5]:  i
a[-1]:  n
a[-3]:  h

In [6]:
b = a[0] + a[1] + a[2] + a[3]
print(b)

Life

In [7]:
print('a[0:2]: ' ,a[0:2])# From 0 to 1
print('a[5:7]: ' ,a[5:7])# From 5 to 6
print('a[12:17]: ' ,a[12:17])# From 12 to 16
print('a[19:]: ' ,a[19:])# From 19 to the end
print('a[:17]: ' ,a[:17])# From the start to 16

a[0:2]:  Li
a[5:7]:  is
a[12:17]:  short
a[19:]:  You need Python
a[:17]:  Life is too short

__List__

When creating a list, enclose it in square brackets ([]) as shown above and separate each yaw value with a comma (,).

In [8]:
odd = [1, 3, 5, 7, 9]

A list can be an empty list ([]), containing nothing like a, a number as a b like b, or a string as c like c. You can also have the numbers and strings together as d, and the list itself as e. That is, you can include any data type in the list.

In [9]:
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [10]:
print('e[0]: ', e[0])
print('e[2]: ', e[2])
print('e[2][0]: ', e[2][0])
print('e[0:2]: ', e[0:2])

e[0]:  1
e[2]:  ['Life', 'is']
e[2][0]:  Life
e[0:2]:  [1, 2]

In [11]:
a = [1, 2, 3]
b = [4, 5, 6]
print('a+b: ', a + b)
print('a*3: ', a*3)
print('Length of a:', len(a))

a+b:  [1, 2, 3, 4, 5, 6]
a*3:  [1, 2, 3, 1, 2, 3, 1, 2, 3]
Length of a: 3

## 2. if Statement

__Basic Structure of an if Statement__

__if__ Conditional statement1 __:__<br/>
>Sentence 1 <br/>
Sentence 2 <br/>

__elif__ Conditional statement2 __ :__
> Sentence 3 <br/>
Sentence 4


__else :__
> Sentence 3 <br/>
Sentence 4

In [12]:
a = 100
b = 10
 
if a==b:
    print('a와 b가 같다.')
elif a<b:
    print('a가 b보다 작다.')
else:
    print ('a가 b보다 크다.')

a가 b보다 크다.

## 3. for Statement

__Basic Structure of an for Statement__

__for__ variable __in__ list(or tuple, string) __:__<br/>
>Sentence 1 <br/>
Sentence 2 <br/>

In [13]:
test_list = ['one', 'two', 'three'] 
for i in test_list: 
     print(i)

one
two
three

The first element of the list, 'one', is first assigned to the variable i and then the 'print (i)' statement is executed. Next, after the second element 'two' is assigned to the i variable, it executes the 'print (i)' statement and repeats it until the last element in the list.

Example)<br/> 
A total of five students took the test and if the test score is over 60, they pass. Otherwise, they fail. Show me the result of pass or fail

In [14]:
score = [90, 25, 67, 45, 80]
order=['first','second','third','fourth','fifth']

number = 0 
for s in score: 
    if s >= 60: 
        print('The',order[number],"student pass")
    else: 
        print('The',order[number],"student fails")
        
    number = number +1

The first student pass
The second student fails
The third student pass
The fourth student fails
The fifth student pass

__Frequently used 'range' functions with for statements__

In [15]:
a = range(1, 11)
b = range(11)
print('a:',a)
print('b:',b)
print('list(a): ', list(a))

a: range(1, 11)
b: range(0, 11)
list(a):  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
add=0
for i in range(1,11):
    add=add+i

print(add)

55

Example)<br/>
Make the multiplication table two steps

In [19]:
for i in range(1,10):
    #print('2*',i,'=',2*i)
    print("2*{} = {}".format(i,2*i))

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18

__Example)__<br/>
Calculate the total admission fee.
    - 20 years old or older: admission fee is 8,000
    - 10 years old or older, 19 years old or younger: admission fee is 5,000
    - Under 10 years old: admission fee is 2,500
    
    ages=[22, 21, 17, 32, 4, 28, 19, 8]